.box1 {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    width: 500px;
    padding: 2rem 3rem;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
}

button {
    font-weight: 600;
    background: var(--color-one);
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    color: white;
}

button:hover {
    background-color: #0ac47d;
}
.wrap{
    padding-top: 140px;
    padding-bottom: 140px;
}