/* header */
.header{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    /* position: fixed; */
    position: sticky;
    z-index: 99;
    top: -50.7px;
    /* top:0;
    left: 0; */
    width: 100%;
    background: #fff;
}


/* header-top */
header.header.hidentop{
    top:-50.7px;
}
header .top-header{
    background: var(--color-one);
    padding: 10px 0;
    font-size: 13px;
    font-weight: 600;
}
header .top-header .inner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header .top-header ul li a{
    color: var(--color-one);
    background: #fff;
    margin: 10px;
    padding: 3px 6px;
    border-radius: 3px;
}
/* header .top-header ul li:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
} */
header .top-header ul li span{
    color: #fff;
}
header .inner-wrap .inner-button a{
    color: #fff
}
header .inner-wrap .inner-button .button-one{
    color: var(--color-one);
    margin-left: 15px;
}
header .inner-wrap .inner-button .button-one:hover{
    color: #fff
}
header .button:hover{
    background-color: var(--color-one);
    color: #fff;
}
header .button{
    transition: all 0.7s;
}
/* end header-top */

/* header-main */
header .main-header .inner-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .inner-main .inner-logo img{
    height: 40px;
    width: auto;
}
header .inner-main{
    padding:20px 0;
}
.header .inner-main .inner-menu ul li{
    margin: 15px;
}
.header .inner-main ul a{
    font-size: 18px;
    color: var(--color-two);
    font-weight: 600;
    text-decoration: none;
    text-wrap: nowrap;
}
.header .inner-main ul a:hover{
    color: var(--color-one);
    transition: all 0.3s;
}

header .inner-user .inner-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
header .inner-user .inner-img img{
    width: 100%;
    height: auto;
    object-fit:cover;
    aspect-ratio: 1/1;
}
/* end header-main */

.header .button{
    display: inline-block;
    padding: 4px 20px;
    background: white;
    color: var(--color-one);
    border: 2px solid #fff;
    border-radius: 7px;
}
.head .button:hover{
    background: var(--color-one);
    transition: all 0.8s;
}
/* end header */
