<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layoutWeb.html}">
<head>
    <title>homepage</title>
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
</head>
<body>
<div layout:fragment="content">
<div class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner-main">
                    <h5 class="inner-welcome">Học Ngay Từ Hôm Nay</h5>
                    <h1 class="inner-title">Khóa Học Và Luyện Đề TOEIC Hàng Đầu</h1>
                    <p class="inner-desc">
                        Khóa học TOEIC Online của chúng tôi giúp bạn đạt điểm cao trong kỳ thi một cách hiệu quả và tiện lợi. Với chương trình học linh hoạt, bạn có thể học mọi lúc, mọi nơi. Khóa học bao gồm bài giảng, bài tập thực hành và kiểm tra mô phỏng, cùng với sự hỗ trợ từ đội ngũ giảng viên giàu kinh nghiệm, giúp bạn tự tin đạt được mục tiêu TOEIC của mình.
                    </p>
                    <div class="inner-button">
                        <div class="button-two button-1">
                            <a href="#" class="button1">Khóa Học</a>
                        </div>
                        <div class="button-two button-2">
                            <a href="#" class="button2">Đề Thi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="inner-content">
                    <div class="inner-tag">Về StudyTOEIC</div>
                    <div class="inner-title">Chào Mừng Đến Với StudyTOEIC</div>
                    <div class="inner-desc">Nền tảng học tiếng Anh hàng đầu! Chúng tôi cung cấp các khóa học và bộ đề thi chất lượng cao, giúp bạn nâng cao kỹ năng ngôn ngữ và tự tin vượt qua mọi kỳ thi. Với đội ngũ giảng viên giàu kinh nghiệm và tài liệu học tập phong phú, chúng tôi cam kết mang đến cho bạn trải nghiệm học tập hiệu quả và thú vị. Hãy cùng chúng tôi chinh phục đỉnh cao tri thức!</div>
                    <div class="inner-tick">
                        <ul>
                            <li>
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Đội ngũ giảng viên giàu kinh nghiệm</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Bài giảng hiệu quả đa dạng</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Cập nhập những đề thi mới nhất</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Kho từ vựng phong phú</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="inner-img">
                    <img src="https://demo.graygrids.com/themes/edugrids/assets/images/about/about-img2.png" alt="img1">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="courses">
    <div class="container">
        <div class="row">
            <div class="col-12 text-a">
                <div class="inner-wrap">
                    <div class="inner-icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <h1 class="inner-title">
                        Các Khóa Học Nổi Bật
                    </h1>
                    <div class="inner-bar"> </div>
                    <p class="inner-desc"> Chúng tôi cung cấp các khóa học từ căn bản đến nâng cao, bao gồm nhiều mức đầu ra của tiếng anh TOEIC</p>
                </div>
            </div>
            <div class="col-xl-4">
                <a href="#">
                    <div class="inner-main">
                        <div class="inner-img">
                            <img src="/web/imgs/AA.jpg" alt="picCourses">
                            <div class="inner-price">
                                1.500.000đ
                            </div>
                        </div>
                        <h2 class="inner-title">Khóa Học Toiec Online 900+</h2>
                        <p class="inner-desc">Khóa học này danh cho học viên có đầu vào 0+ và mục tiêu đạt điểm 990+</p>
                        <div class="inner-quality">
                            <p class="quality">Số lượng học viên: 1000</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4">
                <a href="#">
                    <div class="inner-main">
                        <div class="inner-img">
                            <img src="/web/imgs/AA.jpg" alt="picCourses">
                            <div class="inner-price">
                                1.500.000đ
                            </div>
                        </div>
                        <h2 class="inner-title">Khóa Học Toiec Online 900+</h2>
                        <p class="inner-desc">Khóa học này danh cho học viên có đầu vào 0+ và mục tiêu đạt điểm 990+</p>
                        <div class="inner-quality">
                            <p class="quality">Số lượng học viên: 1000</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4">
                <a href="#">
                    <div class="inner-main">
                        <div class="inner-img">
                            <img src="/web/imgs/AA.jpg" alt="picCourses">
                            <div class="inner-price">
                                1.500.000đ
                            </div>
                        </div>
                        <h2 class="inner-title">Khóa Học Toiec Online 900+</h2>
                        <p class="inner-desc">Khóa học này danh cho học viên có đầu vào 0+ và mục tiêu đạt điểm 990+</p>
                        <div class="inner-quality">
                            <p class="quality">Số lượng học viên: 1000</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="teacher">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-wrap">
                    <div class="inner-icon">
                        <i class="fa-solid fa-ranking-star"></i>
                    </div>
                    <h1 class="inner-title">
                        Giảng Viên Giàu Kinh Nghiệm
                    </h1>
                    <div class="inner-bar"> </div>
                    <p class="inner-desc">Với các giảng viên bản ngữ và giáo viên có nhiều năm kinh nghiệm trong lĩnh vực giảng dạy tiếng Anh, chúng tôi cam kết mang đến cho bạn kiến thức chuyên sâu và phương pháp học tập tốt nhất.</p>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="inner-info">
                    <div class="inner-img">
                        <img src="/web/imgs/happy-young-student-girl-holding-books-study-education-knowledge-goal-concept-happy-young-student-girl-holding-books-isolated-114010507.webp" alt="img">
                    </div>
                    <div class="inner-main">
                        <div class="inner-name">Trần Văn Tùng</div>
                        <div class="inner-desc">990+ TOEIC và nhiều thành tích khác</div>
                        <div class="inner-email">
                            <i class="fa-regular fa-envelope"></i>
                            <span>123tranvantung456@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="inner-info">
                    <div class="inner-img">
                        <img src="/web/imgs/happy-young-student-girl-holding-books-study-education-knowledge-goal-concept-happy-young-student-girl-holding-books-isolated-114010507.webp" alt="img">
                    </div>
                    <div class="inner-main">
                        <div class="inner-name">Trần Văn Tùng</div>
                        <div class="inner-desc">990+ TOEIC và nhiều thành tích khác</div>
                        <div class="inner-email">
                            <i class="fa-regular fa-envelope"></i>
                            <span>123tranvantung456@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="inner-info">
                    <div class="inner-img">
                        <img src="/web/imgs/happy-young-student-girl-holding-books-study-education-knowledge-goal-concept-happy-young-student-girl-holding-books-isolated-114010507.webp" alt="img">
                    </div>
                    <div class="inner-main">
                        <div class="inner-name">Trần Văn Tùng</div>
                        <div class="inner-desc">990+ TOEIC và nhiều thành tích khác</div>
                        <div class="inner-email">
                            <i class="fa-regular fa-envelope"></i>
                            <span>123tranvantung456@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="inner-info">
                    <div class="inner-img">
                        <img src="/web/imgs/happy-young-student-girl-holding-books-study-education-knowledge-goal-concept-happy-young-student-girl-holding-books-isolated-114010507.webp" alt="img">
                    </div>
                    <div class="inner-main">
                        <div class="inner-name">Trần Văn Tùng</div>
                        <div class="inner-desc">990+ TOEIC và nhiều thành tích khác</div>
                        <div class="inner-email">
                            <i class="fa-regular fa-envelope"></i>
                            <span>123tranvantung456@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="utility">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-wrap">
                    <div class="inner-icon">
                        <i class="fa-solid fa-shield-halved"></i>
                    </div>
                    <h1 class="inner-title">
                        Tại Sao Bạn Nên Học Với StudyTOEIC
                    </h1>
                    <div class="inner-bar"> </div>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="inner-box">
                    <div class="inner-img">
                        <img src="https://www.ngoaingu24h.vn/resources/images/Icon-NN24H/icon1.png" alt="">
                    </div>
                    <p class="inner-desc">
                        Học từ vựng hiệu quả với Flash card độc quyền.
                    </p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="inner-box">
                    <div class="inner-img">
                        <img src="https://www.ngoaingu24h.vn/resources/images/Icon-NN24H/icon2.png" alt="">
                    </div>
                    <p class="inner-desc">
                        Luôn được hỗ trợ nhanh nhất bởi đội ngũ chuyên môn giỏi, nhiệt tình.
                    </p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="inner-box">
                    <div class="inner-img">
                        <img src="https://www.ngoaingu24h.vn/resources/images/Icon-NN24H/icon4.png" alt="">
                    </div>
                    <p class="inner-desc">
                        Nội dung khóa học luôn được cập nhật theo xu hướng ra đề.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
