<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layoutWeb.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flashcard</title>
    <link rel="stylesheet" th:href="@{/web/css/lists/flashcard.css}">
    <link rel="stylesheet" th:href="@{/web/css/lessons/theory.css}">
    <link rel="stylesheet" th:href="@{/web/css/chapters/contentOfChapter.css}">
    <link rel="stylesheet" th:href="@{/web/css/lists/vocab.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="row" style="justify-content: center">
                        <div class="col-10">
                            <a th:href="@{flashcard-review}" class="button-practice">Ôn tập</a>
                            <div class="inner-back" style="display: flex; justify-content: space-between">
                                <a th:href="@{../../}"><i class="fa-solid fa-chevron-left"
                                                          style="color: var(--color-one);"></i> Trở về
                                    chương học</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="row" style="justify-content: center">
                        <div class="col-10">
                            <div class="flip-card">
                                <div class="flip-card-inner">

                                </div>
                            </div>
                            <div class="box wrap-btn">
                                <div class="inner-controller">
                                    <button id="memorized">Đã thuộc từ này</button>
                                    <button id="next-button">Tiếp tục</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="inner-sidebar">
                        <div class="inner-header">
                            <h3>
                                <i class="fa fa-fw fa-list"></i>
                                Nội Dung Bài Học
                            </h3>
                        </div>
                        <div class="inner-content">
                            <div class="inner-wrap">
                                <div id="lectures-list" class="block-content block-content-sm px-0"
                                     data-height="0px"
                                     data-toggle="slimscroll" data-always-visible="true">
                                    <div class="list-group">
                                        <div th:if="${true}">
                                            <a th:href="@{vocab}">
                                                <div class="list-group-item list-group-item-action border-0 wrap-lesson">
                                                    <i class="fa-solid fa-book-open activity-icon completed"></i>
                                                    <div>
                                                        <span><b>Danh sách từ vựng: </b></span>
                                                        <span>List 1</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div>
                                            <a th:href="@{flashcard}">
                                                <div class="list-group-item list-group-item-action border-0 wrap-lesson">
                                                    <i th:if="${false}" class="fa-solid fa-check activity-icon"></i>
                                                    <i th:unless="${false}" class="fa-solid fa-pen activity-icon"></i>
                                                    <div>
                                                        <span><b>Luyện tập: </b></span>
                                                        <span>FlashCard</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${true}" class="wrap-complete">
                                    <div class="divider"></div>
                                    <a class="list-group-item list-group-item-action border-0">
                                        <span class="next-content"> Hoàn thành & học bài tiếp theo</span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const flipCard = document.querySelector(".flip-card");
            const nextButton = document.getElementById("next-button");
            const memorizedButton = document.getElementById("memorized");

            flipCard.addEventListener("click", function (event) {
                // Prevent flipping if the audio button was clicked
                if (!event.target.closest(".playButtonUK") && !event.target.closest(".playButtonUS")) {
                    this.classList.toggle("flip");
                }
            });

            let vocabIds = [[${vocabIds}]]; // Lấy danh sách ID từ vựng từ server
            let currentVocabId = null; // ID từ vựng hiện tại

            // Extract listId from URL
            function getListIdFromUrl() {
                const path = window.location.pathname; // Get the path of the URL
                const match = path.match(/vocab-list\/(\d+)/); // Match the pattern /vocab-list/{number}
                return match ? parseInt(match[1], 10) : null; // Return the number or null if not found
            }

            const listId = getListIdFromUrl(); // Get the listId from the URL

            function getRandomVocabId() {
                const availableVocabIds = vocabIds.length > 1
                    ? vocabIds.filter(id => id !== currentVocabId)
                    : vocabIds;

                return availableVocabIds[Math.floor(Math.random() * availableVocabIds.length)];
            }

            function renderVocabulary(data) {
                const flipCardInner = document.querySelector(".flip-card-inner");
                flipCardInner.innerHTML = `
            <div class="box flip-card-front">
                <div class="english-mean">
                    <h2 style="display: inline-block;">${data.english}</h2>
                    <h2 style="display: inline-block;"></h2>
                    <a class="playButtonUK">
                        <i class="playButton fa-solid fa-volume-high"></i>
                    </a>
                    <span>UK</span>
                    <audio class="myAudioUK" src="https://dict.youdao.com/dictvoice?audio=${data.english}&type=1" type="audio/mpeg"></audio>

                    <a class="playButtonUS">
                        <i class="playButton fa-solid fa-volume-high"></i>
                    </a>
                    <span>US</span>
                    <audio class="myAudioUS" src="https://dict.youdao.com/dictvoice?audio=${data.english}&type=2" type="audio/mpeg"></audio>
                </div>
                <div class="inner-vocabtype">
                    <h4>${data.partsOfSpeech} ${data.pronunciation}</h4>
                </div>
            </div>
            <div class="box flip-card-back">
                <div class="row" style="padding: 30px; height: 100%">
                    <div class="col-8" style="height: 100%">
                        <div class="wrap-text-back">
                            <h5>Định nghĩa:</h5>
                            <p class="vietnam-mean">${data.vietnamese} = ${data.definition}</p>
                            <h5 class="exam">Ví dụ: </h5>
                            <div class="inner-ex">
                                <ul>
                                    ${data.examples.map(ex => `<li>${ex}</li>`).join('')}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="height: 100%">
                        <div class="inner-image">
                            <img src="/data/${data.image}" alt="Ảnh mô tả">
                        </div>
                    </div>
                </div>
            </div>
        `;

                const audioUK = document.querySelector(".myAudioUK");
                const audioUS = document.querySelector(".myAudioUS");

                // Auto-play the UK audio when a new vocabulary is loaded
                if (audioUK) {
                    audioUK.play();
                }

                // Add event listeners to the play buttons
                document.querySelector(".playButtonUK").addEventListener("click", function (event) {
                    event.stopPropagation(); // Prevent flipping the card
                    if (audioUK.paused) {
                        audioUK.play();
                    } else {
                        audioUK.pause();
                    }
                });

                document.querySelector(".playButtonUS").addEventListener("click", function (event) {
                    event.stopPropagation(); // Prevent flipping the card
                    if (audioUS.paused) {
                        audioUS.play();
                    } else {
                        audioUS.pause();
                    }
                });
            }

            function loadVocabulary(id) {
                fetch(`/api/vocabulary/${id}`)
                    .then(response => response.json())
                    .then(data => {
                        renderVocabulary(data);
                    })
                    .catch(error => console.error('Error:', error));
            }

            function memorizeVocabulary() {
                console.log('Current Vocabulary ID:', currentVocabId);
                fetch(`/api/vocabulary/memorize-vocabulary/${currentVocabId}`, {method: 'GET'})
                    .then(response => {
                        if (response.ok) {
                            // Remove the current vocabulary from the list
                            const index = vocabIds.indexOf(currentVocabId);
                            if (index > -1) {
                                vocabIds.splice(index, 1);
                            }
                            if (vocabIds.length == 0){
                                NotVocab();
                                return;
                            }
                            // Fetch the next vocabulary ID
                            fetch(`/api/vocabulary/next/${vocabIds.join(',')}/list/${listId}`)
                                .then(response => {
                                    // Kiểm tra nếu response không hợp lệ
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    // Kiểm tra nếu response không có nội dung
                                    if (response.headers.get('content-length') === '0') {
                                        // throw new Error('No content in response');
                                        currentVocabId = getRandomVocabId();
                                        if (currentVocabId) {
                                            loadVocabulary(currentVocabId);
                                        }
                                    }
                                    return response.json(); // Đọc dữ liệu dưới dạng JSON
                                })
                                .then(nextId => {
                                    // Kiểm tra nếu nextId không hợp lệ
                                    if (nextId) {
                                        // Remove the old ID and add the new one
                                        currentVocabId = nextId;
                                        vocabIds.push(currentVocabId); // Add the new vocabulary ID back to the list
                                        loadVocabulary(currentVocabId);
                                    } else {
                                        console.log('No more vocabulary left');
                                    }
                                })
                                .catch(error => console.error('Error fetching next vocabulary:', error));


                        } else {
                            console.error('Failed to memorize vocabulary');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }

            function NotVocab() {
                nextButton.addEventListener("click", function () {
                    // Hàm trống
                });

                memorizedButton.addEventListener("click", function () {
                    // Hàm trống
                });
                const flipCardInner = document.querySelector(".flip-card-inner");
                flipCardInner.innerHTML = `
                                <div class="box flip-card-front">
                                    <h4 style="text-align: center; margin: 50px;">Bạn đã thuộc toàn bộ từ vựng trong danh sách này, hãy chuyển sang chế độ ôn tập</h4>
                                </div>

                                `
                const flipCardFront = flipCardInner.querySelector(".flip-card-front");

                // Thêm sự kiện click vào phần tử mới tạo và dừng propagation
                flipCardFront.addEventListener("click", function (event) {
                    event.stopPropagation();
                });
            }

            function initialize() {
                currentVocabId = getRandomVocabId();
                if (currentVocabId) {
                    loadVocabulary(currentVocabId);
                    nextButton.addEventListener("click", function () {
                        currentVocabId = getRandomVocabId();
                        if (currentVocabId) {
                            loadVocabulary(currentVocabId);
                        }
                    });

                    memorizedButton.addEventListener("click", function () {
                        memorizeVocabulary();
                    });
                } else {
                    NotVocab();
                }

            }

            initialize();
        });
    </script>


</div>
</body>
</html>
