<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layoutWeb.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/web/css/lessons/theory.css}">
    <link rel="stylesheet" th:href="@{/web/css/lessons/exerciseFormatGrammar.css}">
</head>
<body>
<div layout:fragment="content">

    <div class="wrap">
        <div class="container">
            <div class="section-name">
                <div class="inner-title">
                    <h2>Tranh tả người</h2>
                </div>
                <div class="inner-back">
                    <a href="#"><i class="fa-solid fa-chevron-left" style="color: var(--color-one);"></i> Trở về khóa học</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <button class="btn-theory">
                        Lí Thuyết
                    </button>
                    <div class="inner-wrap">
                        <div class="box">
                            <div class="translation">
                                Phương tiện di chuyển nhanh nhất là máy bay.
                            </div>
                            <div class="question-content">
                                The quickest _ of transport is by plane.
                            </div>
                            <div id="" class="wrap-choice">
                                <span class="choice">mean</span>
                                <span class="choice">means</span>
                            </div>
                        </div>

                        <div class="wrap-order-number">
                            <div class="box">
                                <h6>Số thứ tự: </h6>
                                <div class="order-number">
                                    <button
                                            th:each="it : ${orderNumbers}"
                                            th:data-str="${it.typeContentOfExerciseFormatGrammar}"
                                            th:data-oder="${it.orderNumber}"
                                            th:data-id="${it.questionId}"
                                            th:text="${it.orderNumber}"
                                            class="btn-order-number"
                                            onclick="myFunction(this.getAttribute('data-str'), this.getAttribute('data-oder'), this.getAttribute('data-id'))">
                                    </button>


                                    <script>

                                        /**
                                         * @typedef {Object} DTO
                                         * @property {number} orderNumber
                                         * @property {number} questionId
                                         * @property {string} typeContentOfExerciseFormatGrammar
                                         */

                                        function myFunction1(dataStr) {
                                            try {
                                                /** @type {DTO} */
                                                const dto = JSON.parse(dataStr);

                                                console.log('Order Number:', dto.orderNumber);
                                                console.log('Question ID:', dto.questionId);
                                                console.log('Type:', dto.typeContentOfExerciseFormatGrammar);

                                            } catch (e) {
                                                console.error('Invalid JSON:', e);
                                            }
                                        }


                                    </script>
                                    <button
                                            th:data-str="${@jsonUtil.toJson(orderNumbers.get(0))}"
                                            onclick="myFunction1(this.getAttribute('data-str'))">
                                        Click me
                                    </button>
                                    <button th:onclick="'javascript:myFunction(' + ${orderNumbers.get(1).orderNumber} + ', ' + ${orderNumbers.get(1).questionId} + ', ' + '\'abc'  + '\' );'">Click me</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4">
                    <div class="inner-sidebar">
                        <div class="inner-header">
                            <h3>
                                <i class="fa fa-fw fa-list"></i>
                                Nội dung thuộc bài học
                            </h3>
                        </div>
                        <div class="inner-content">
                            <div class="inner-wrap">
                                <div id="lectures-list" class="block-content block-content-sm px-0" data-height="0px"
                                     data-toggle="slimscroll" data-always-visible="true">
                                    <div class="list-group">
                                        <a class="list-group-item list-group-item-action border-0 " href="#">
                                            Bài giảng về danh từ
                                        </a>

                                        <a class="list-group-item list-group-item-action border-0 " href="#">
                                            Bài giảng về danh từ
                                        </a>

                                        <a class="list-group-item list-group-item-action border-0 " href="#">
                                            Bài giảng về danh từ
                                        </a>

                                        <a class="list-group-item list-group-item-action border-0 " href="#">
                                            Bài giảng về danh từ
                                        </a>
                                    </div>
                                </div>
                                <div class="slimScrollBar"
                                     style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 30px;">
                                </div>
                                <div class="slimScrollRail"
                                     style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadQuestion(dataJson) {
            console.log("Function loadQuestion called with:", dataJson);}
    </script>
</div>

</body>
</html>
